body {
	max-width: 1600px;
	margin: 0 auto;
	font-family: "Roboto Slab", serif;
	font-size: 14px;
	line-height: 24px;
	color: #555555;
}

h1 {
	margin-bottom: 25px;
	font-family: "Montserrat", sans-serif;
	font-size: 48px;
	font-weight: normal;
	line-height: 48px;
	text-align: center;
	color: #fff;
}

h2 {
	margin-bottom: 60px;
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}

h2::after {
	content: "";
	position: absolute;
	width: 52px;
	height: 2px;
	top: 45px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #555555;
}

h3 {
	margin-bottom: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}

section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.btn {
	display: block;
	margin: 0 auto;
	padding: 15px 25px;
	border: 2px solid #fff;
	outline: none;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	background-color: transparent;
}

.btn:hover,
.btn:active {
	background-color: #c0301c;
	color: #fff;
}

header {
	position: relative;
	width: 100%;
	height: 770px;
	padding-top: 40px;
	background: #6c251d url("../img/header-bg.jpg") no-repeat;
}

header::before {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.45);
}

.main-nav {
	margin-bottom: 250px;
}

.main-nav .logo {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	color: #fff;
}

.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-nav li {
	display: inline-block;
	margin-right: 32px;
}

.main-nav a {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

.hdr-text {
	margin-bottom: 50px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

.review-text {
	margin-bottom: 70px;
	font-size: 16px;
	text-align: center;
}

.icon-form {
	margin: 0 auto 25px;
	position: relative;
	width: 90px;
	height: 90px;
	border: 2px solid #dddddd;
	border-radius: 50%;
}

.active {
	background-color: #c0301c;
}

.icon-form::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.a-icon::before {
	width: 43px;
	height: 40px;
	background: url("../img/fa-font.png") no-repeat;
}

.slash-icon::before {
	width: 53px;
	height: 40px;
	background: url("../img/fa-code.png") no-repeat;
}

.circle-icon::before {
	width: 48px;
	height: 49px;
	background: url("../img/fa-support.png") no-repeat;
}

.about {
	background-color: #f8f8f8;
}

.about img {
	margin-top: 55px;
}

.job {
	font-size: 13px;
	text-align: center;
}

.works-nav {
	margin-bottom: 70px;
}

.works-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}

.works-nav li {
	display: inline-block;
	margin-right: 25px;
}

.works-nav a {
	font-size: 16px;
	text-decoration: none;
	color: #555555;
}

.works-nav a:hover {
	color: #c0301c;
}

.latest-works img {
	margin-bottom: 30px;
}

.call-us {
	position: relative;
	height: 369px;
	background: #c0301c url("../img/call-us.jpg") no-repeat;
}

.call-us::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(192, 48, 28, 0.6);
}

.call-us p {
	margin-bottom: 45px;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	color: #fff;
}

.post {
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.post-with-border {
	border-bottom: 1px solid #dddddd;
}

.post h3 {
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
}

.calendar-icon {
	width: 76px;
	height: 76px;
	margin-bottom: 10px;
	padding: 15px;
	border: 2px solid #555555;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #777777;
}

.calendar-icon span {
	font-size: 24px;
}

.sub-title {
	font-size: 13px;
	font-style: italic;
}

.sub-title span {
	color: #c0301c;
}

.post p {
	margin-bottom: 30px;
}

.post a {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #555555;
}

.post a:hover {
	color: #c0301c;
}

.labels {
	background-color: #f8f8f8;
}

.label-row {
	margin-bottom: 70px;
}

.labels blockquote {
	border: none;
}

.labels q {
	display: block;
	margin-bottom: 40px;
	font-size: 18px;
	font-style: italic;
	line-height: 30px;
	text-align: center;
}

.labels cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	line-height: 30px;
	text-align: center;
}

.labels .carousel-indicators {
	bottom: 0;
}

.labels .carousel-inner {
	padding-bottom: 40px;
}

.labels .carousel-inner .active {
	background-color: #f8f8f8;
}

.labels .carousel-indicators li{
	width: 15px;
	height: 15px;
	background-color: #dddddd;
}

.labels .carousel-indicators .active{
	width: 15px;
	height: 15px;
	background-color: #c0301c;
}

.sliders {
	width: 60px;
	margin: 35px auto 0;
	font-size: 0;
}

.sliders .slider {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 7px;
	border-radius: 50%;
	background-color: #dddddd;
}

.sliders .slider-1 {
	margin-left: 0;
	background-color: #c0301c;
}

.get-in-touch h3 {
	text-align: left;
	margin-bottom: 10px;
}

.get-in-touch .address::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 17px;
	margin-right: 15px;
	background: url("../img/fa-map-marker.png") no-repeat;
}

.get-in-touch .mobile::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 20px;
	margin-right: 15px;
	background: url("../img/fa-mobile-phone.png") no-repeat;
}

.get-in-touch .mail::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 11px;
	margin-right: 15px;
	background: url("../img/fa-mail.png") no-repeat;
}

.get-in-touch .contact-text {
	margin-left: 25px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 20px;
}

.get-in-touch input {
	width: 350px;
	margin-bottom: 20px;
	padding: 10px 15px;
	border: 1px solid #555555;
	outline: none;
}

.get-in-touch input:hover,
.get-in-touch input:focus,
.get-in-touch textarea:hover,
.get-in-touch textarea:focus,
.get-in-touch button:hover {
	border-color: #c0301c;
}

.get-in-touch textarea {
	width: 740px;
	padding: 10px 15px;
	border: 1px solid #555555;
	outline: none;
	margin-bottom: 15px;
	font-size: 12px;
	text-transform: uppercase;
	color: #555555;
}

.get-in-touch input::-webkit-input-placeholder {
	opacity: 1;
	font-size: 12px;
	text-transform: uppercase;
	color: #555555;
}

.get-in-touch input::-moz-placeholder {
	opacity: 1;
	font-size: 12px;
	text-transform: uppercase;
	color: #555555;
}


/* Firefox 19+ */

.get-in-touch input:-moz-placeholder {
	opacity: 1;
	font-size: 12px;
	text-transform: uppercase;
	color: #555555;
}


/* Firefox 18- */

.get-in-touch input:-ms-input-placeholder {
	opacity: 1;
	font-size: 12px;
	text-transform: uppercase;
	color: #555555;
}

.get-in-touch .btn {
	display: inline-block;
	margin: 0;
	border: 1px solid #555555;
	outline: none;
	font-size: 12px;
	color: #555555;
}

.get-in-touch .btn:hover,
.get-in-touch .btn:active {
	color: #fff;
}

.get-in-touch .ps-text {
	display: inline-block;
	margin-left: 33px;
}

.ps-text span {
	color: #c0301c;
}

footer {
	padding-top: 95px;
	padding-bottom: 75px;
	color: #fff;
	background-color: #c0301c;
}

footer .social-icons {
	position: relative;
	margin-bottom: 25px;
	padding-bottom: 25px;
	text-align: center;
}

footer .social-icons::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%);
	width: 50px;
	border-bottom: 2px solid #fff;
}

footer .social-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 14px;
	border: 2px solid #fff;
	border-radius: 50%;
	background: url("../img/twitter-icon.png") no-repeat center center;
}

footer .copyright {
	font-weight: normal;	text-transform: uppercase;
	text-align: center;
}